*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header{
  background-color: #3AB4F2;
  padding: 20px 100px 30px 100px;
  color: white;
}

.row ul{
  display: flex;
  padding: 0;
}
.row ul li{
  list-style-type: none;
  display: inline;
}
.row h3{
  /* padding-right: 150px; */
  padding:30px  150px 30px 0;
}

.headerimg{
  display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 align-items: center;
 text-align: center;
}
.headerimgbody{
  width: 100px;
  border: 1px solid grey;
  border-radius: 4px;
  box-shadow: 1px 1px 1px 1px black;
  padding: 2px;
  height: 100px;
  background-color: white;
  color: black;
}


.headerright{
  text-align: center;
  padding: 10px 100px ;
}
.rightform{
  text-align: left;
}


/*  */
.nextheader img{
position: absolute;
z-index: 1;
top: 380px;
left: 150px;

}
.nextgeaderbody{padding: 20px 10px 20px 400px;
  border: solid 1px black;
  text-align:center;
}



/*  */
.progresst{
  background-color: #3AB4F2;
  color: black;
  padding: 20px 200px 0 200px;
}

.progressthead{
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

}
.progresstbody{
  height: 200px;
  width: 200px;
}

.sectable{
  text-align: center;
}

#btns2{
  padding: 20px 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content:center;
}
.btnsdiv{
  padding: 0 20px;

}

/*  */
#infor{
  padding: 30px 200px;
text-align: center;
/* color: lightblue; */
}

.secdiv{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items:center;
  padding: 50px 100px;background-color: #3AB4F2;

}
.faq{
  text-align: center;
  align-items: center;
  padding: 20px 30px;
}
.faq button{
  display: block;
  margin: auto;
  margin: 10px auto;
}

/*  */
.whyus{
  padding: 30px 0;background-color: #3AB4F2;
}
.whyusimgs{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 30px 400px;
  text-align: center;
}
.free{
  padding: 20px 0 20px 50px;
  text-align: center;

}

.beforefoot{
  align-items: center;
  text-align: center;
  margin: auto;
  padding: 30px 90px;  background-color: #3AB4F2;
}
.beforefoot span{
  color: white;
}
.foot{
  background-color: orange;
  text-align: center;
}
.foot p{
  margin: 0;
}
